<table id="homeMatchTable" class="pretty-table">
<thead>
    <th>Date</th>
    <th>Location</th>
    <th>Home Team</th>
    <th>Home Score</th>
    <th>Away Score</th>
    <th>Away Team</th>
</thead>
<tbody>
    <%= render(@matches)%>
</tbody>
</table>