<b>Home</b>
<table id="homeMatchTable">
<thead>
    <th>Location</th>
    <th>Date</th>
</thead>
<tbody>
    <%= render(@home_matches)%>
</tbody>
</table>
<b>Away</b>
<table id="awayMatchTable">
<thead>
    <th>Location</th>
    <th>Date</th>
</thead>
<tbody>
    <%= render(@away_matches)%>
</tbody>
</table>