
<table id="match_table" class="datagrid">
<thead>
    <th >Date</th>
    <th mochi:format="str">Home Team</th>
    <th mochi:format="str">Score</th>
    <th mochi:format="str">Away Team</th>
</thead>
<tbody>
    <%= render(@matches)%>
</tbody>
</table>