<tr>
    <td><%= link_to player.name, :controller => "player", :action => "show", :id => player.id %></td>
    <td><%= player.number %></td>
    <td><%= player.position %></td>
    <td><%= '%.2f' % player.current_rating %></td>
</tr>