<div id="aboutText" style="float:center">
<h2><span>ABOUT</span> US</h2>
<p>
Chimu Solutions develops cloud-based solutions to deliver actionable insights for customers within vertical markets. Our professional soccer solution provides powerful quantification and analysis of performance at the match, trend, team and player levels along with scouting services based on analytical capabilities.
</p>

<p>Our cutting-edge performance analysis algorithms and software technology delves into intricate team dynamics as well as individual metrics with the goal of differentiating role players from superstars. The research has been developed by the <a href="http://amaral-lab.org"> Amaral Lab for Complex Systems and Systems Biology</a> at Northwestern headed by Dr. Luis Amaral and his team which includes Dr. Jordi Duch and Dr. Dan McClary. Dr. Amaral has been awarded the prestigious Early Career Scientist fellowship by the Howard Hughes Medical Institute (HHMI), an award extended only to 50 most promising scientists, for his work on understanding the dynamics of complex systems.</p>
</div>